@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainmenu{
    display: flex;
    background-color: #253C80;
    height: 87px;
    list-style: none;
    width:100%;
    text-decoration: none;
    color: #e6e6e6;
    justify-content: center;
}

.logo{
    size: 17%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 10px;
}

.Topnavbuttons{
    display: flex;
    font-size: 25px;
    padding-top: 25px;
    text-decoration: none;
}

.navbar>a{
    color: #e6e6e6;
    text-decoration: none;
    font-family: 'Rubik Doodle Shadow', Sans-Serif;
    border-left: 1.5px solid #e6e6e6;
    padding-left: 30px;
    padding-right: 30px;
}

.aboutus>a{
    color: #e6e6e6;
    text-decoration: none;
    font-family: 'Rubik Doodle Shadow', Sans-Serif;
    border-right: 1.5px solid #e6e6e6;
    border-left: 1.5px solid #e6e6e6;
    padding-left: 30px;
    padding-right: 30px;
}

.bg{
    width: 100vw; 
    height: 100vh;
    display: flex;
}

.banner{
    width: 100vw;
    height: 72vh;
    display: flex;
}



.container{
    position: relative;
    text-align: center;
    color: #e6e6e6;
}

.bottom{
    position: absolute;
    bottom: 8px;
    top: 80%;
    font-family: 'Rubik Doodle Shadow', Sans-Serif;
    color:#253C80;
    font-size: 50px;
    background-color: #e6e6e6;
    left: 36%;
    padding: 15px;
}

.showcase{
    padding: 40px;
    width: 40vw;
}

:root{
    --nav-ctrl-color: black;
    --nav-ctrl-size: 1.25rem;
    --nav-ctrl-inner-size: 1rem;
}

.banner-content{
    display: flex;
    justify-content: center;
}

.banner-item{
    background-color: red;
    padding-bottom: 30%;
}

.banner-nav {
    display: flex;
    justify-content: center;

}

.nav-dot {
    align-items: center;
    display:flex;
    border-color: var(--nav-ctrl-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
    height: var(--nav-ctrl-size);
    width: var(--nav-ctrl-size);
    justify-content: center;
    margin: 0 .25rem;
}

.nav-dot-inner{
background-color: var(--nav-ctrl-color);
border-radius: 100%;
display: block;
height: 0;
transition: all .2s ease;
width: 0;
}

.nav-dot:hover .nav-dot-inner{
    opacity: .5;
    height: var(--nav-ctrl-inner-size);
    width: var(--nav-ctrl-inner-size);
}

#bnr-1-ctrl:checked ~ .banner-nav #bnr-1-dot .nav-dot-inner{
    opacity: 1;
    height: var(--nav-ctrl-inner-size);
    width: var(--nav-ctrl-inner-size);
}
#bnr-2-ctrl:checked ~ .banner-nav #bnr-2-dot .nav-dot-inner{
    opacity: 1;
    height: var(--nav-ctrl-inner-size);
    width: var(--nav-ctrl-inner-size);
}
#bnr-3-ctrl:checked ~ .banner-nav #bnr-3-dot .nav-dot-inner{
    opacity: 1;
    height: var(--nav-ctrl-inner-size);
    width: var(--nav-ctrl-inner-size);
}