@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');


a{
    text-decoration: none;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/*HEADER. DO NOT TOUCH*/
}
.mainmenu{
    display: flex;
    background-color: #253C80;
    height: 10%;
    list-style: none;
    width:100%;
    text-decoration: none;
    color: #e6e6e6;
    justify-content: center;
}

.logo img{
    display: flex;
    margin-right: 10px;
    max-width: 90px;
}

.Topnavbuttons{
    display: flex;
    font-size: 2rem;
    padding-top: 25px;
    text-decoration: none;
}

.navbar{
    color: #e6e6e6;
    text-decoration: none;
    font-family: 'Rubik Doodle Shadow', Sans-Serif;
    border-left: 1.5px solid #e6e6e6;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar:hover{
    background-color: #142042;
    overflow: hidden;   
}

.aboutus{
    color: #e6e6e6;
    text-decoration: none;
    font-family: 'Rubik Doodle Shadow', Sans-Serif;
    border-right: 1.5px solid #e6e6e6;
    border-left: 1.5px solid #e6e6e6;
    padding-left: 30px;
    padding-right: 30px;
}
/*HEADER. DO NOT TOUCH*/

.aboutus:hover{
    background-color: #142042;
    overflow: hidden;   
}

.bg{
    width: 100%; 
    display: flex;
}

.banner{
    width: 100%;
}



.container{
    position: relative;
    text-align: center;
    color: #e6e6e6;
    display: flex;
    justify-content: center;
}

.bottom{
    position: absolute;
    bottom: 0px;
    top: 80%;
    font-family: 'Rubik Doodle Shadow', Sans-Serif;
    color:#253C80;
    font-size: 200%;
    background-color: white;
    padding: 15px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}



.layout{
    display: flex;
    margin: 3%;
    margin-top: 5%;
}
.images_container{
    border-radius: 16px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    width: 25%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    
}
.image-container img{
    width: 100%;
}


.image{
    display: block;
    width: 100%;
    height: auto;
}

.opacityfx{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    justify-content: center;
    text-align: center;
}



.images_container:hover .opacityfx{
    height: 100%;
}

.images_container:hover{
    opacity:0.7;
}

.imgtxt{
    margin-top: 30%;
    color: white;
    font-size: 200%;
    margin-top: 50%;
    font-family: 'Salsa', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgtxt2{
    margin-top: 30%;
    color: white;
    font-size: 100%;
    margin-top: 1%;
    font-family: 'Salsa', cursive;
}

/*FOOTER. DO NOT TOUCH*/
.footermenu{
    display: flex;
    background-color: #253C80;
    height: 10%;
    list-style: none;
    width:100%;
    text-decoration: none;
    color: #e6e6e6;
    justify-content: center;
    margin-top: 15%;
}

.flogo{
    padding-top: 2%;
}
.flogo img{
    display: flex;
    margin-right: 10px;
    max-width: 200px;
    top: 4%;
}
.footerbuttons{
    display: flex;
    font-size: 1.5rem;
    padding-top: 3%;
    text-decoration: none;
    justify-content: center;
}

.footer{
    color: #e6e6e6;
    text-decoration: none;
    font-family: 'Salsa', Sans-Serif;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
}

.footer:hover{
    color: #8086a1;
    overflow: hidden;   
}

.fsubclasses{
    color: #e6e6e6;
    text-decoration: none;
    font-family: 'Salsa', Sans-Serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-left: 20%;
    font-size:1.2rem;
    margin-top: 5%;
}

.fsubclasses:hover{
    color: #8086a1;
    overflow: hidden;   
}
/*FOOTER. DO NOT TOUCH*/
